* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', serif;
}

h1, h2, h3, nav {
    font-family: 'Bowlby One SC', sans-serif;
}

.bg-light {
    background-color: #DD9911 !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #000000 !important;
}

.nav-item {
    margin-left: 30px;
}

.header {
    background-color: #FFCC66;
}

.header a:link,
.header a:hover,
.header a:visited,
.header a:visited:hover {
    color: #000000;
    text-decoration: none;
}

.logo {
    padding: 10px;
    margin: 0 0 0 40px;
}

.page {
    background-color: #EEDD99;
    padding: 40px;
}

h2 {
    font-size: 3em;
    margin: 30px 0;
}

p {
    width: 50%;
    margin-bottom: 40px;
    margin-left: 20px;
}

.footer {
    background-color: #DD9911;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.footer-item {
    padding: 20px;
    border-radius: 10px;
    background-color: #BB7711;
}

.footer-item:link, .footer-item:visited {
    color: #000000;
}

.footer-item:hover, .footer-item:visited:hover {
    color: #000000;
    text-decoration: none;
    background-color: #CC8811;
}